#------------------------------TMUX log------------------------#
**.log
.DS_Store

#---------------------------------Vim--------------------------#
*.swp
**/.netrwhist
**/doc/tags
runcom/vim/autoload/*
runcom/vim/bundle/*
runcom/vim/plugged/*
runcom/vim/vim
runcom/vim/spell/*
runcom/vim/undodir/*

#---------------------------------NeoVim--------------------------#
**/spell/**
**/.luarc.json

#---------------------------------VScode--------------------------#
.vscode/
.lhistory
.playbook.sh

#---------------------------------NeoVim--------------------------#
runcom/config/nvim/lazy-lock.json
