#------------------------------TMUX log------------------------#
**.log

#---------------------------------vim--------------------------#
*.swp
**/.netrwhist
**/doc/tags
runcom/vim/autoload/*
runcom/vim/bundle/*
runcom/vim/plugged/*
runcom/vim/vimm


#---------------------------------VScode--------------------------#
.vscode/ 

