#------------------------------TMUX log------------------------#
**.log
.DS_Store
#---------------------------------vim--------------------------#
*.swp
**/.netrwhist
**/doc/tags
runcom/vim/autoload/*
runcom/vim/bundle/*
runcom/vim/plugged/*
runcom/vim/vim


#---------------------------------VScode--------------------------#
.vscode/
.lhistory
